@import '../mixins';

.back {
    @include cardDesign();

    display: flex;
    flex-flow: row-reverse;
    background-image: url('../../../images/bg-card-back.png');


    @media only screen and (max-width: 480px) {
        background-size: 100% 170px;

    }

    .cvc {
        display: flex;
        align-items: center;
        padding: 38px;
        font-size: 0.8rem;
    }

}